hr {
    border-color: #000;
}

#upload_link {
    text-decoration: none;
}

#upload {
    display: none;
}

#upload_link i {
    display: none;
}

#alert {
    display: none;
}

#resumen {
    display: none;
}