/* Style de despachos */

#tabla tbody tr td {
    cursor: pointer;
}
.panel-success>.panel-heading {
    color: #fafffa !important ; 
    background-color: #2fb8ac !important;
    border-color: #d6e9c6 !important ;
}
.portlet-title, .portlet.green, .portlet>.portlet-body.green {
    background-color: #046d8b !important;
}
