html{
	height: 100%;
	background: rgba(207,210,207,1);
	background: -moz-linear-gradient(top, rgba(207,210,207,1) 0%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(207,210,207,1)), color-stop(24%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(207,210,207,1) 0%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(207,210,207,1) 0%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(207,210,207,1) 0%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(207,210,207,1) 0%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd2cf', endColorstr='#ffffff', GradientType=0 );
	background-repeat: no-repeat;
}

body{
	background: none;
}

.page-header {
	background: none;
}

.page-header .page-header-menu {
	display: none;
}

.page-header .page-header-top .top-menu .navbar-nav .dropdown-user{
	display: none !important;
}

.img-responsive{
	margin: 0 auto;
}

.page-header {
    opacity: 1;
    filter: alpha(opacity=100);
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    height: 60px !important;
    background-image: none;
}